@import '../scss/media.scss';
@import '../components/bg-img.scss';

.footer {
    // height: 300px;
    height: 100%;
    background-color: rgb(46, 45, 44);
    padding: 44px 0 24px;
    display: flex;

    .logo-footer-container {
        .logo-footer-wrap {
            width: 30.45px;
            height: 36px;
    
            .logo-footer {
                background-image: url('../images/logo.svg');
                @extend %bg-img;
            }
        }
    }
    .footer-category-container {
        .footer-category-title {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-family: SF Pro Display;
            font-weight: 200;
        }
        .footer-nav-list {
            list-style: none;
            padding-left: 0;
            margin-top: 25px;
        }
        .footer-nav-list li a {
            color: white;
            font-size: 17px;
            font-weight: 300;
            padding-bottom: 3px;
        }
    }
    .footer-info-container {

        .footer-info-title {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-family: SF Pro Display;
            font-weight: 200;
        }
        .footer-nav-list {
            list-style: none;
            padding-left: 0;
            margin-top: 25px;
        }
        .footer-nav-list li a {
            color: white;
            font-size: 17px;
            font-weight: 300;
            padding-bottom: 3px;
        }
    }
    .contact-us-container {
        display: flex;
        flex-direction: column;
        .contact-us-title {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-family: SF Pro Display;
            font-weight: 200;
            align-self: flex-end;
        }
        .contact-us-numbers-container {
            margin-top: 25px;
            .contact-us-number a {
                font-size: 20px;
                font-weight: 300;
                color: rgb(255, 255, 255);
                font-family: SF Pro Display;
                text-decoration: none;
            }
        }
        .contact-us-time {
            font-size: 14px;
            font-family: SF Pro Display;
            font-weight: 400;
            color: rgb(255, 255, 255);
            margin-top: 5px;
            align-self: flex-end;

        }
    }
}