@import '../scss/media.scss';
@import '../components/bg-img.scss';


.homepage-product-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 50px;
    height: 100%;

    
    .product-carousel-container {
        width: 50%;
        background-color: white;
        @include for-xs-phone-only {
            display: none;

        }
        @include for-sm-phone-only {
            display: none;
        }
        @include for-tablet-landscape-up {
            display: block;
        }
        .product-img-wrap {
            width: 645px;   
            
            .product-img {
                @extend %bg-img;
            }
        }
    }
    .product-items-container {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        width: 50%;
        padding-bottom: 30px;
        @include for-xs-phone-only {
            width: 100%;

        }
        @include for-sm-phone-only {
            width: 100%;

        }
        @include for-tablet-landscape-up {
            width: 50%;
        }

        .product-item-container {
            width: 50%;
            .product-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .product-item-img-wrap {
                    margin-top: 15px;
                    width: 200px;
                    height: 200px;
                    @include for-xs-phone-only {
                        width: 150px;
                        height: 150px;
                    }
                    @include for-sm-phone-only {
                        width: 150px;
                        height: 150px;
                    }
                    @include for-small-phone-only {
                        
                    }
                    @include for-phone-only {
                        width: 250px;
                        height: 250px;
                    }
                    @include for-tablet-landscape-up {
                        width: 200px;
                        height: 200px;
                    }
                    .product-item-img {
                        @extend %bg-img;
                    }
                }
                .product-item-name a{
                    text-decoration: none;
                    font-family: SF Pro Display;
                    color: rgb(0, 0, 0);
                    font-weight: 600;
                    margin-top: 23px;   
                    text-align: center;
                    @include for-xs-phone-only {
                        font-size: 12px;
                    }
                    @include for-sm-phone-only {
                        font-size: 14px;
                    }
                    @include for-small-phone-only {
                        font-size: 18px;
                    }
                }
                .product-item-name a:hover{
                    color: red;
                }
                .product-item-price {
                    font-size: 20px;
                    font-weight: 300;
                    font-family: SF Pro Display;
                    color: rgb(0, 0, 0);
                    padding-top: 5px;
                    @include for-xs-phone-only {
                        font-size: 12px;
                    }
                    @include for-sm-phone-only {
                        font-size: 14px;
                    }
                    @include for-small-phone-only {
                        font-size: 18px;
                    }
                }
                .product-item-btn { 
                    background: rgb(228, 36, 13);
                    border-radius: 4px;
                    color: rgb(255, 255, 255);
                    border: none;
                    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
                    text-shadow: 0 1px 3px rgba(0,0,0,.2);
                    padding: 4px 15px 5px 15px;
                    margin-top: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}