.product-section .product-section-container .product-section-left-container .product-image-wrap .product-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  overflow-x: hidden; }

.product-section {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding-bottom: 60px; }
  .product-section .top-container {
    display: flex;
    flex-direction: row;
    padding: 25px 0; }
    .product-section .top-container .top-container-navigation {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-left: 45px;
      margin-bottom: 0; }
      .product-section .top-container .top-container-navigation .top-container-navigation-element {
        font-family: SF Pro Display;
        font-size: 12px;
        font-weight: 400;
        color: #959595;
        margin: 0 12px; }
        .product-section .top-container .top-container-navigation .top-container-navigation-element .top-container-navigation-element-link {
          text-decoration: none;
          color: #282836; }
        .product-section .top-container .top-container-navigation .top-container-navigation-element .top-container-navigation-element-link:hover {
          color: #e1261d; }
        .product-section .top-container .top-container-navigation .top-container-navigation-element .product-name {
          font-family: SF Pro Display;
          font-size: 12px;
          font-weight: 400;
          color: #959595; }
  .product-section .product-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media (max-width: 425px) {
      .product-section .product-section-container {
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 426px) {
      .product-section .product-section-container {
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 991px) {
      .product-section .product-section-container {
        flex-direction: row; } }
    .product-section .product-section-container .product-section-left-container {
      background-color: white;
      width: 570px;
      height: 854px;
      display: flex;
      justify-content: center; }
      @media (max-width: 425px) {
        .product-section .product-section-container .product-section-left-container {
          width: 100%;
          height: 854px; } }
      @media (min-width: 426px) {
        .product-section .product-section-container .product-section-left-container {
          width: 767px;
          height: 654px; } }
      @media (min-width: 991px) {
        .product-section .product-section-container .product-section-left-container {
          width: 570px;
          height: 854px; } }
      .product-section .product-section-container .product-section-left-container .product-image-wrap {
        width: 539px;
        height: 638px; }
        @media (min-width: 991px) {
          .product-section .product-section-container .product-section-left-container .product-image-wrap {
            width: 459px;
            height: 558px; } }
        @media (min-width: 1199px) {
          .product-section .product-section-container .product-section-left-container .product-image-wrap {
            width: 539px;
            height: 638px; } }
        .product-section .product-section-container .product-section-left-container .product-image-wrap .product-image {
          background-image: url("../images/iPhone.png"); }
    .product-section .product-section-container .product-section-right-container {
      width: 767px;
      background-color: white;
      height: 854px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      padding: 27px 35px 40px; }
      @media (max-width: 425px) {
        .product-section .product-section-container .product-section-right-container {
          margin-left: 0;
          height: auto; } }
      @media (min-width: 426px) {
        .product-section .product-section-container .product-section-right-container {
          margin-left: 0;
          height: auto; } }
      @media (min-width: 991px) {
        .product-section .product-section-container .product-section-right-container {
          margin-left: 15px;
          height: 854px; } }
      .product-section .product-section-container .product-section-right-container .product-name-title {
        font-size: 32px;
        font-family: SF Pro Display;
        font-weight: 600;
        letter-spacing: .5px;
        color: black; }
        @media (max-width: 425px) {
          .product-section .product-section-container .product-section-right-container .product-name-title {
            align-self: center; } }
        @media (min-width: 426px) {
          .product-section .product-section-container .product-section-right-container .product-name-title {
            align-self: center; } }
        @media (min-width: 1199px) {
          .product-section .product-section-container .product-section-right-container .product-name-title {
            align-self: auto; } }
      .product-section .product-section-container .product-section-right-container .color-container {
        display: flex;
        flex-direction: row;
        margin-top: 50px; }
        @media (max-width: 425px) {
          .product-section .product-section-container .product-section-right-container .color-container {
            align-self: center; } }
        @media (min-width: 426px) {
          .product-section .product-section-container .product-section-right-container .color-container {
            align-self: center; } }
        @media (min-width: 991px) {
          .product-section .product-section-container .product-section-right-container .color-container {
            align-self: center; } }
        .product-section .product-section-container .product-section-right-container .color-container .color-title {
          margin-top: 8px;
          letter-spacing: .8px;
          font-size: 12px;
          color: black; }
        .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap {
          display: flex;
          flex-direction: row;
          padding-top: 5px; }
          @media (max-width: 425px) {
            .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap {
              flex-direction: column; } }
          @media (min-width: 426px) {
            .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap {
              flex-direction: row; } }
          @media (min-width: 1199px) {
            .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap {
              flex-direction: row; } }
          .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap .color-items-wrap {
            display: flex; }
            @media (max-width: 425px) {
              .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap .color-items-wrap {
                flex-direction: column; } }
            @media (min-width: 426px) {
              .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap .color-items-wrap {
                flex-direction: column; } }
            @media (min-width: 1199px) {
              .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap .color-items-wrap {
                flex-direction: row; } }
            .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap .color-items-wrap .color-item-wrap {
              margin: 0 10px;
              display: flex;
              flex-direction: row; }
              .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap .color-items-wrap .color-item-wrap .color {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                cursor: pointer;
                border: 3px solid #f1f1f1; }
              .product-section .product-section-container .product-section-right-container .color-container .colors-section-wrap .color-items-wrap .color-item-wrap .color-name {
                font-size: 12px;
                margin-top: 4px;
                margin-left: 5px; }
      .product-section .product-section-container .product-section-right-container .memory-container {
        display: flex;
        flex-direction: row;
        margin-top: 50px; }
        @media (max-width: 425px) {
          .product-section .product-section-container .product-section-right-container .memory-container {
            align-self: center; } }
        @media (min-width: 426px) {
          .product-section .product-section-container .product-section-right-container .memory-container {
            align-self: center; } }
        @media (min-width: 1199px) {
          .product-section .product-section-container .product-section-right-container .memory-container {
            align-self: auto; } }
        .product-section .product-section-container .product-section-right-container .memory-container .memory-title {
          letter-spacing: .8px;
          font-size: 12px;
          color: black; }
        .product-section .product-section-container .product-section-right-container .memory-container .memory-items-wrap {
          display: flex;
          flex-direction: row; }
          .product-section .product-section-container .product-section-right-container .memory-container .memory-items-wrap .memory-item {
            font-size: 11px;
            padding: 0 7px;
            display: flex;
            align-items: center;
            border: 2px solid #282836;
            color: #282836;
            font-weight: 900;
            text-align: center;
            border-radius: 7px;
            font-family: SF Pro Display;
            background-color: white;
            margin-left: 17px;
            letter-spacing: .8px;
            cursor: pointer; }
      .product-section .product-section-container .product-section-right-container .product-price-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px; }
        @media (max-width: 425px) {
          .product-section .product-section-container .product-section-right-container .product-price-container {
            align-self: center; } }
        @media (min-width: 426px) {
          .product-section .product-section-container .product-section-right-container .product-price-container {
            align-self: center; } }
        @media (min-width: 1199px) {
          .product-section .product-section-container .product-section-right-container .product-price-container {
            align-self: auto; } }
        .product-section .product-section-container .product-section-right-container .product-price-container .product-price-ua {
          font-size: 42px;
          font-weight: 900;
          color: #3b9c31;
          padding-left: 25px; }
        .product-section .product-section-container .product-section-right-container .product-price-container .product-price-us {
          font-size: 14px;
          color: black;
          line-height: 1.5;
          padding-left: 30px;
          font-weight: 600;
          margin-top: 5px; }
      .product-section .product-section-container .product-section-right-container .product-services-header-wrap {
        border-top: 1px solid #e8e8e7;
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative; }
        .product-section .product-section-container .product-section-right-container .product-services-header-wrap .product-services-header {
          background: white;
          position: absolute;
          top: 50%;
          left: 50%;
          padding: 10px 40px;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          letter-spacing: .2px;
          color: black;
          font-family: SF Pro Display;
          font-weight: 400;
          font-size: 14px; }
      .product-section .product-section-container .product-section-right-container .product-services-container {
        display: flex; }
        .product-section .product-section-container .product-section-right-container .product-services-container .product-services-info-wrap {
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px; }
          .product-section .product-section-container .product-section-right-container .product-services-container .product-services-info-wrap .product-services-info-title {
            color: black;
            font-size: 12px;
            font-family: SF Pro Display;
            letter-spacing: .2;
            padding: 6px 0; }
          .product-section .product-section-container .product-section-right-container .product-services-container .product-services-info-wrap .product-services-info {
            font-family: SF Pro Display;
            font-size: 14px;
            font-weight: bold; }
      .product-section .product-section-container .product-section-right-container .product-card-two-btn {
        margin-top: 40px; }
        .product-section .product-section-container .product-section-right-container .product-card-two-btn .buy-button {
          min-width: 302px;
          min-height: 64px;
          border: none;
          font-size: 22px;
          font-weight: 700;
          font-family: SF Pro Display;
          color: white;
          padding: 0 10px;
          outline: none;
          cursor: pointer;
          background-color: #e1261d;
          border-radius: 7px; }
          @media (max-width: 425px) {
            .product-section .product-section-container .product-section-right-container .product-card-two-btn .buy-button {
              min-width: 252px;
              margin-bottom: 10px; } }
          @media (min-width: 426px) {
            .product-section .product-section-container .product-section-right-container .product-card-two-btn .buy-button {
              min-width: 252px;
              margin-bottom: 10px; } }
          @media (min-width: 991px) {
            .product-section .product-section-container .product-section-right-container .product-card-two-btn .buy-button {
              min-width: 302px;
              margin-bottom: 0; } }
        .product-section .product-section-container .product-section-right-container .product-card-two-btn .credit-button {
          min-width: 302px;
          min-height: 64px;
          background: #494962;
          border: none;
          font-weight: 700;
          font-family: SF Pro Display;
          color: white;
          font-size: 17px;
          cursor: pointer;
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          border-radius: 7px; }
          @media (max-width: 425px) {
            .product-section .product-section-container .product-section-right-container .product-card-two-btn .credit-button {
              min-width: 252px; } }
          @media (min-width: 426px) {
            .product-section .product-section-container .product-section-right-container .product-card-two-btn .credit-button {
              min-width: 252px; } }
          @media (min-width: 991px) {
            .product-section .product-section-container .product-section-right-container .product-card-two-btn .credit-button {
              min-width: 302px; } }
  .product-section .product-tabs-container {
    margin-top: 15px;
    background-color: white;
    padding: 43px 0 63px;
    width: 1355px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .product-section .product-tabs-container .product-tabs-list {
      display: flex;
      flex-direction: row;
      list-style: none; }
      .product-section .product-tabs-container .product-tabs-list .product-tab a {
        cursor: pointer;
        font-family: SF Pro Display;
        font-size: 18px;
        color: #282836;
        font-weight: 600;
        padding: 0 14px;
        min-height: 33px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;
        margin: 0 20px; }
    .product-section .product-tabs-container .product-tabs-title {
      margin-top: 25px;
      font-weight: bold; }
    .product-section .product-tabs-container .features {
      width: 600px;
      max-width: 100%;
      margin: 20px auto; }
      .product-section .product-tabs-container .features .features-table .features-row {
        height: 60px; }
        .product-section .product-tabs-container .features .features-table .features-row .feature-name {
          padding-left: 30px; }
        .product-section .product-tabs-container .features .features-table .features-row .feature-value {
          display: flex;
          justify-content: center; }
